.screen {
  color: #fff;
  background-color: #fecdcb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.title {
  height: 50px;
  padding-top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;

  color: black;
}
.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin: 0 auto;
  color: #000000;
}

.upContainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 250px;
  height: 250px;
  position: relative;
  font-size: 35px;
  background-color: #fecdcb;
  border-radius: 50%;
  position: relative;
  margin: 0px auto -60px;
}

.timerWrap {
  width: 200px;
  height: 200px;
  position: relative;
}

.buttonWrapper {
  width: 100vw;
  background-color: #fff;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  height: 130px;
  background-color: #fff;
  padding-bottom: 10px;
}

.bntLeft {
  border-bottom-left-radius: 20px;
  margin-right: 2px;
}

.bntRight {
  border-bottom-right-radius: 20px;
  margin-left: 2px;
}

.btnTextRight {
  padding: 40px 0px 0px 20px;
  text-align: center;
  font-size: 16px;
}

.btnTextLeft {
  padding: 40px 20px 0px 0px;
  text-align: center;
  font-size: 16px;
}

.bntIcon {
  width: 80px;
  max-height: 80px;
  object-fit: contain;
  padding-top: 10px;
}

.timeline {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
}

.timeline::-webkit-scrollbar {
  width: 0;
}

.addActivity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #fff;
}

.timilineContainer {
  height: calc(40vh - 50px);
}

.info {
  margin: 0 auto;
}
