.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #fecdcb;
  color: #fff;
}

.title {
  height: 50px;
  padding-top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;

  color: black;
}
.main-screen-info-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  color: #000000;
}

.main-screen-up-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 260px;
}

.main-screen-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 250px;
  height: 250px;
  position: relative;
  font-size: 35px;
  background-color: #fecdcb;
  border-radius: 50%;
  position: relative;
  /* top: 50px; */
}

.timer-wrap {
  display: flex;
  width: 200px;
  height: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  width: 100vw;
  background-color: #fff;
}

.main-buttons-container {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: #fff;
}

.main-screen-bnt-left {
  border-bottom-left-radius: 20px;
  margin-right: 2px;
}

.main-screen-bnt-right {
  border-bottom-right-radius: 20px;
  margin-left: 2px;
}

.main-screen-btn-text-right {
  padding: 55px 0px 0px 20px;
  text-align: center;
  font-size: 16px;
}

.main-screen-btn-text-left {
  padding: 55px 20px 0px 0px;
  text-align: center;
  font-size: 16px;
}

.main-screen-bnt-icon {
  width: 80px;
  max-height: 80px;
  object-fit: contain;
  padding-top: 10px;
}

.main-screen-timeline {
  width: 100vw;
  height: 100px;
  background-color: #fff;
  overflow-y: auto;
}

.main-screen-add-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: #fff;
}
