.main-screen-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 250px;
  height: 250px;
  position: relative;
  font-size: 35px;
  background-color: #fecdcb;
  border-radius: 50%;
  position: relative;
  top: 50px;
}

.timer-wrap {
  display: flex;
  width: 200px;
  height: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.main-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 120px;
  background-color: #fff;
}

.main-screen-bnt-left {
  border-bottom-left-radius: 20px;
}

.main-screen-bnt-right {
  border-bottom-right-radius: 20px;
}

.main-screen-btn-text-right {
  padding: 40px 0px 0px 20px;
  text-align: center;
  font-size: 16px;
}

.main-screen-btn-text-left {
  padding: 40px 20px 0px 0px;
  text-align: center;
  font-size: 16px;
}

.main-screen-bnt-icon{
  width: 80px;
  max-height: 80px;
  object-fit: contain;
}

.main-screen-timeline {
  height: 100px;
  background-color: #fff;
}

.main-screen-add-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: #fff;
}
