.main {
  height: 540px;
}

.main-screen-up-container {
  height: 260px;
}
.main-screen-info {
  height: 110px;
}

.main-screen-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 250px;
  height: 250px;
  position: relative;
  font-size: 35px;
  background-color: #fecdcb;
  border-radius: 50%;
}

.timer-wrap {
  display: flex;
  width: 200px;
  height: 200px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.main-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 120px;
  background-color: #bfe2fe;
}

.main-screen-timeline {
  width: 100vw;
  height: 100px;
  background-color: #fff;
}

.main-screen-add-activity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: #fff;
}
