.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.timer {
  width: 80px;
  height: 80px;
  margin: 0px;
}

.imgTimer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
  height: 225px;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.img {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin-left: 25px;
}

.wrapper {
  width: 80px;
  height: 80px;
  font-size: 14px;
  position: relative;
}

.timerModal {
  width: 147px;
  height: 147px;
}

.valueTimer {
  font-size: 24px;
}

.timerWrapper {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

.error {
  width: 310px;
  height: 20px;
  color: red;
  font-weight: 100;
}

.errorFeeling {
  outline: 2px solid red;
}

.button {
  width: 240px;
}
