.modal-container {
  background: linear-gradient(
    180deg,
    rgba(250, 234, 234, 0.82) 0%,
    #faeaea 100%
  );
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.desktop-modal-container {
  /* box-shadow: 0 0 32px rgba(0, 0, 0, 0.5); */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 16px;
  min-height: 160px;
  font-size: 26px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  height: 352px;
  justify-content: space-between;
}

.button-icon {
  width: 40px;
  height: 40px;

  background: #fecdcb;
  border-radius: 5px;
}

.button-text-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 190px;
  height: 42px;
}

.button-line {
  width: 36px;
  height: 0px;
  border: 1px solid #49515c;
  transform: rotate(90deg);
}

.button-plus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 4px solid #fecdcb;
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 24px;
  color: #fecdcb;
}

.modal-content {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0 10px 0 10px;
  width: 320px;
  height: 60px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 15px;
}

.overlay {
  background-color: rgba(167, 155, 155, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
