.timelineContainer {
  margin: 0 auto;
  width: 100%;
}

.timelineContainer .timeLabel span {
  font-weight: 600;
  padding: 5px 10px;
  display: inline-block;
  background-color: var(--pink);
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 100;
  width: 100%;
}

.timelineElement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0px;
}

.timelineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  min-height: 40px;
  color: #000;
  position: relative;
}

.eventContainer {
  display: flex;
}

.timelineHeader,
.time {
  font-size: 14px;
  font-weight: 100;
  padding: 6px 10px;
}

.time {
  font-size: 18px;
}

.timelineDuration {
  font-size: 10px;
  color: #a7b3b1;
}

.img {
  width: 30px;
  height: 30px;
  left: 5px;
  top: 5px;
  position: absolute;
}

.icon {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--blue);
  position: relative;
}
