.header-container {
  width: 360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #fecdcb;
}

.header-nav-collapse {
  background-color: #fecdcb;
  height: 100vh;
}
