.container {
  height: 98px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.button {
  background-color: var(--blue);
}

.button:hover {
  background-color: var(--pink-light);
}

.icon {
  background-color: var(--pink-light);
}
