.timer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../../../assets/png/timer-ring.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation: circle 10s linear infinite;
}
@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}

.styleSlow {
  animation: circle 15s linear infinite;
}

.styleFast {
  animation: circle 5s linear infinite;
}

.value {
  position: absolute;
  top: 50%;
  width: 100%;
  pointer-events: none;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;
  color: var(--pink-dark);
}

.valueName {
  position: absolute;
  top: 33%;
  width: 100%;
  pointer-events: none;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #000000;
}

.wrapper {
  position: relative;
}
