.timer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../../../assets/png/timer-ring.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* animation: circle 10s linear infinite; */
}
@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
