.sleepScreen {
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.babyContainer {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.baby {
  display: flex;
  flex-direction: row;
  position: relative;
}

.babySleep {
  width: 200px;
  transform: scale(-1, 1);
}

progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  border-radius: 10px;
}

.timer {
  width: 70px;
  height: 70px;
  position: absolute;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 150px;
  color: #000;
}

.progressBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  color: #000;
  font-size: 12px;
  margin-top: 10px;
}

.night::-webkit-progress-bar {
  background-color: #bfe2fe;
}

.night::-webkit-progress-value {
  background: #4aa7f1;
}

.day::-webkit-progress-bar {
  background: #e2eca8;
}

.day::-webkit-progress-value {
  background: #a7bc28;
}

.nightIcon {
  background-image: url("../../../assets/svg/night-icon.svg");
}

.dayIcon {
  background-image: url("../../../assets/svg/day-icon.svg");
}
