.sleep-screen {
  background-color: #fff;
  position: relative;
  max-width: 560px;
  margin: 0 auto;
}

.baby-sleep-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.baby-sleep {
  width: 200px;
  transform: scale(-1, 1);
}

progress::-webkit-progress-bar,
progress::-webkit-progress-value {
  border-radius: 10px;
}

.timer-container {
  width: 70px;
  height: 70px;
  position: absolute;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 150px;
  color: #000;
}

.progress-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  color: #000;
  font-size: 12px;
  margin-top: 10px;
}

.progress-line {
  width: 50%;
  margin: 0 5px;
}

.sleep-night-progress::-webkit-progress-bar {
  background-color: #bfe2fe;
}

.sleep-night-progress::-webkit-progress-value {
  background: #4aa7f1;
}

.sleep-day-progress::-webkit-progress-bar {
  background: #e2eca8;
}

.sleep-day-progress::-webkit-progress-value {
  background: #a7bc28;
}

.img-progress-bar {
  width: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.night-icon {
  background-image: url("../../../assets/svg/night-icon.svg");
}

.day-icon {
  background-image: url("../../../assets/svg/day-icon.svg");
}
