.gender {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.baby {
  width: 85px;
  height: 85px;
  position: absolute;
  z-index: 1;
  bottom: -3px;
  left: -5px;
}

.title {
  font-size: 12px;
  color: #6d6d6d;
  position: absolute;
  bottom: -15px;
}

.active {
  opacity: 1;
}

.disactive {
  opacity: 0.5;
}

.input {
  display: none;
}
