.container {
  width: 230px;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}

.titileContainer {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 7px;
  color: #000;
}

.active {
  opacity: 1;
}

.disactive {
  opacity: 0.5;
}
