.container {
  background-color: #fff;
}

.containerBtn {
  margin: 25px;
}

.timerModal {
  width: 147px;
  height: 147px;
}

.valueTimer {
  font-size: 24px;
  color: black !important;
  top: 36% !important;
}

.timerWrapper {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

.button {
  width: 240px;
}
