.btn {
  width: 240px;
  height: 40px;
  background: var(--pink);
  border-radius: 40px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--blue);
}
.btn:visited {
  border: 0px;
}
