.nav {
  width: 360px;
}

.sidebar-nav {
  width: 360px;
  background-color: #add8e6;
  position: fixed;
  margin: auto 0px;
  transition: 350ms;
  left: -1000px;
  z-index: 100;
  position: absolute;
  top: 0px;
  padding-bottom: 20px;
  border-radius: 0px 0px 20px 20px;
}

.nav-link-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-wrap {
  margin-top: 10px;
}

.icon-img {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 10px 0px;
}

.icon-img-sleep {
  background-image: url("../../../assets/svg/sleeping-icon.svg");
}

.icon-img-feeding {
  background-image: url("../../../assets/svg/bottle-icon.svg");
}

.icon-img-activity {
  background-image: url("../../../assets/svg/activity.svg");
}

.icon-img-setting {
  background-image: url("../../../assets/svg/setting.svg");
}

.icon-img-home {
  background-image: url("../../../assets/svg/home.svg");
}

.nav-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  font-size: 2rem;
  margin-left: 2rem;
}

.sidebar-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  font-size: 1.125rem;
  padding: 2rem;
  text-decoration: none;
  color: #fff;
}

.sidebar-label {
  font-size: 14px;
  color: black;
}

.dropdown-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3.75rem;
  font-size: 1.125rem;
  padding-left: 3rem;
  text-decoration: none;
  color: #fff;
}

.open-bar {
  left: calc(100% / 2 - 180px);
}
