.modal-window-container {
  background: linear-gradient(
    180deg,
    rgba(250, 234, 234, 0.82) 0%,
    #faeaea 100%
  );
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.desktop-modal-window-container {
  padding: 40px;
  width: 360px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  min-height: 160px;
  font-size: 26px;
}

.overlay {
  background-color: rgba(167, 155, 155, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
