* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  font-family: Roboto;
  background: #fecdcb;
  max-width: 1440px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100vw;
  height: 80px;
  background-color: lightblue;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 160px);
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: #fecdcb;
}
