@font-face {
  font-family: Roboto;
  src: url("./assets/font/Roboto-Light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/font/Roboto-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/font/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("./assets/font/Roboto-Bold.ttf");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus {
  outline: 5px solid #9dcdff;
}

footer,
header {
  display: block;
}

ul li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  color: #fff;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  background: #fecdcb;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
  margin: 0 auto;
}
.header,
.footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: lightblue;
}

.header {
  height: 80px;
}

.footer {
  height: 60px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: #fecdcb;
}
