.modal {
  position: relative;
  width: 360px;
  padding: 16px;
  min-height: 60vh;
  font-size: 26px;
  background: linear-gradient( 180deg , rgba(250, 234, 234, 0.82) 0%, #faeaea 100%);
  box-sizing: border-box;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay{
  align-items: end;
}